/* common */
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* typo */
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
h2,
p{
  margin: 30px 0;
}

/* text color */
#hero,
#hero p,
.out_now,
#out_now p{
  color: #fff;
}
p{
  font-weight: 500;
  color: #727272;
}

/* button */
.btn{
  border-radius: 30px;
  color: #fff;
}
.btn_black{
  background-color: #363636;
}
.btn_red{
  background-color: #cd3d0f;
}
.btn_blue{
  background-color: #2d64e6;
}
.btn_white{
  background-color: #d9dadc;
}

/* header */
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header_top{
  text-align: right;
  background-color: #000;
}
.header_top img{
  height: 15px;
  margin: 10px;
}
.navbar-light .navbar-nav .nav-link{
  color: #000;
}
.nav-item:not(:last-child){
  margin-right: 10px;
}
.nav-link:not(#nav_search)::after{
  display: inline-block;
  content: url(../img/chevron-down-solid.svg);
  width: 9px;
  margin-left: 6px;
}
.navbar-brand{
  height: 100%;
}
.nav-link img{
  height: 25px;
}

/* main */
main{
  margin-top: 111px;
}
.hero_top{
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: top center;
}
.hero_top_text{
  padding: 250px 0 50px;
}
.hero_top_img_returnal{
  height: 30px;
}
.hero_bottom .row{
  margin: 30px 0;
}
.hero_thumb{
  margin: 15px 0;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.hero_thumb img{
  width: 100%;
}
#ps5{
  padding-top: 70px;
}
.ps5 h6{
  color: #117bd1;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: -30px;
}
.ps5_img_big{
  width: 100%;
}
.ps5_item{
  position: relative;
  height: 100%;
  border-bottom: 3px solid transparent;
  color: #000;
}
.ps5_item.active{
  border-bottom: 3px solid #117bd1;
}
.ps5_item:not(.active)::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.4);
}
.ps5_item img{
  width: 60%;
}
.ps5_item p{
  margin: 10px 0 0;
}
.out_now{
  background-color: #1f1f1f;
}
.out_now_top{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: top center;
}
.out_now_top_text{
  padding: 50px 0 50px;
}
.out_now_top_img_itTakesTwo{
  height: 150px;
}
.out_now_bottom p{
  font-size: 20px;
}
.out_now_thumb{
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.out_now_thumb img{
  width: 100%;
}
.ps4 h2 .reg{
  font-size: 1rem;
}
.ps4 h3{
  font-size: 37px;
}
.ps4 p{
  font-size: 19px;
}
.ps4 img{
  width: 100%;
}
.ps_plus{
  background-color: #bebcbb;
}
.ps_plus_logo{
  height: 65px;
}
.ps_plus p{
  color: #000;
}
.ps_plus .btn{
  color: #2d64e6;
}
.ps_plus_monthly{
  width: 100%;
}